/cache
/elpa
/filesets-cache.el
/projectile-bookmarks.eld
/auto-save-list
/recentf
/emacs-places
/emacs.bmk
/server
/network-security.data
/url
/games
/eshell
/local.el
/custom.el
/session.*
/.org-id-locations
#*
.#*
*.elc
*~
